
data/raw/mapbox.token
notebooks/.ipynb_checkpoints/YYC-Scooters-checkpoint.ipynb
notebooks/.ipynb_checkpoints/YYC-Scooters-Raw Code-checkpoint.ipynb
*.twb
*.xml
*.iml
data/final/all_data.csv
data/interim/scooter_data.csv
data/interim/weather_data.csv
data/raw/Shared_Mobility_Pilot_Trips.csv
